<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>

{% for item in items %}
  {{ item.name }}
  {{ item.start_time }}
  {{ item.end_time }}

{% endfor %}

</body>
</html>
